<article class="project-item">
    <div class="project-item-image">\
        Test
    </div>
    <div class="project-item-content">
        <h4 class="project-item-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <span>
                {{/* format date string to create an ISO 8601 string */}}
                {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
                {{ $configDateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
                
                <time class="project-item-meta" datetime="{{ dateFormat $ISO_date .Date }}">
                    {{ time.Format $configDateFormat .Date }}
                    {{/* OLD FORMAT: .Date.Format $configDateFormat */}}
                </time>
            </span>
        </h4>
        <div class="project-item-description">
            teshjgchjkgvjklhvblhjk
            ;klj'l;
            ;lk'l;kj

            l;kh;lh;lj
        </div>
        <div class="project-item-tags">
            {{ with .Params.categories }}
                {{ range . }}
                    <button class="project-item-tag">{{ . }}</button>
                {{ end }}
            {{ end }}
        </div>
        
    </div>

</article>

