
<article class="project-item"  onclick="location.href='{{ .RelPermalink }}'">
    <div class="project-item-image-container">
        {{ $imagePath := printf "/project/%s.jpg" .File.BaseFileName }}

        <!-- Display image if it exists; otherwise, display the default image -->

        <img src="{{ $imagePath | relURL }}" onerror="this.src='/project/default.jpg'" class="project-item-image" alt="{{ .Title }} featured image">
    </div>
    <div class="project-item-content">
        <h4 class="project-item-title">
            <a>{{ .Title }}</a>
            <span>
                {{/* format date string to create an ISO 8601 string */}}
                {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
                {{ $configDateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
                
                <time class="project-item-date" datetime="{{ dateFormat $ISO_date .Date }}">
                    {{ time.Format $configDateFormat .Date }}
                    {{/* OLD FORMAT: .Date.Format $configDateFormat */}}
                </time>
            </span>
        </h4>
        <div class="project-item-description">         
            {{ with .Params.projectDescription }}
                {{ range . }}
                    {{ . }} <br>
                {{ end }}
            {{ end }}
        </div>
        <div class="project-item-tags">
            {{ with .Params.categories }}
                {{ range . }}
                    <button class="project-item-tag">{{ . }}</button>
                {{ end }}
            {{ end }}
        </div>
        
    </div>

</article>
